<!DOCTYPE html>
<html lang="en">
<head>
	<title>Form</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
		<!--<link rel="icon" type="image/png" href="../images/icons/favicon.ico"/>-->
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" />
		<!--<link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css">-->
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}" />
		<!--<link rel="stylesheet" type="text/css" href="../fonts/font-awesome-4.7.0/css/font-awesome.min.css">-->
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animate/animate.css') }}" />
		<!--<link rel="stylesheet" type="text/css" href=../"vendor/animate/animate.css">-->
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/css-hamburgers/hamburgers.min.css') }}" />
		<!--<link rel="stylesheet" type="text/css" href="../vendor/css-hamburgers/hamburgers.min.css">-->
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animsition/css/animsition.min.css') }}" />
		<!--<link rel="stylesheet" type="text/css" href="../vendor/animsition/css/animsition.min.css">-->
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/select2/select2.min.css') }}" />
		<!--<link rel="stylesheet" type="text/css" href="../vendor/select2/select2.min.css">-->
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/daterangepicker/daterangepicker.css') }}" />
		<!--<link rel="stylesheet" type="text/css" href="../vendor/daterangepicker/daterangepicker.css">-->
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
		<!--<link rel="stylesheet" type="text/css" href="../css/util.css">-->
		<!--<link rel="stylesheet" type="text/css" href="../css/main.css">-->
	<!--===============================================================================================-->
</head>
<body>


	<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form" method="POST">
				<span class="contact100-form-title">
					COVID-19 Risk Factor Predictor
				</span>

				<div class="wrap-input100 input100-select">
					<span class="label-input100">Gender</span>
					<div>
						<select class="selection-2" name="gender">
							<option>Select Gender</option>
							<option value="male">Male</option>
							<option value="female">Female</option>
							<option value="other">Other</option>
						</select>
					</div>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 input100-select">
					<span class="label-input100">Age Group</span>
					<div>
						<select class="selection-2" name="agegroup">
							<!-- Value better not start with number -->
							<option>Select Age Group</option>
			                <option value="0-9">0-9 years</option>
			                <option value="10-19">10-19 years</option>
			                <option value="20-39">20-39 years</option>
			                <option value="40-49">40-49 years</option>
			                <option value="50-59">50-59 years</option>
			                <option value="60-69">60-69 years</option>
			                <option value="70-79">70-79 years</option>
			                <option value="80+">80+ years</option>
						</select>
					</div>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 input100-select">
					<span class="label-input100">Race/Ethnicity</span>
					<div>
						<select class="selection-2" name="race">
							<!-- Value better not start with number -->
							<option>select Race/Ethnicity</option>
							<option value="Latino">Hispanic/Latino</option>
							<option value="American Indian">American Indian/Alaska Native, Non-Hispanic</option>
							<option value="Asian">Asian, Non-Hispanic</option>
							<option value="Black">Black, Non-Hispanic</option>
							<option value="Native Hawaiian">Native Hawaiian/Other Pacific Islander, Non-Hispanic</option>
							<option value="White">White, Non-Hispanic</option>
							<option value="Other">Multiple/Other, Non-Hispanic</option>
						</select>
					</div>
					<span class="focus-input100"></span>
				</div>

				<div class="container-contact100-form-btn">
					<div class="wrap-contact100-form-btn">
						<div class="contact100-form-bgbtn"></div>
						<form>
						<button class="contact100-form-btn" formaction="#">
							<span>
								Submit
								<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
							</span>
						</button>
						</form>
					</div>
				</div>
			</form>
		</div>
	</div>



	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="../static/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--<script src="../vendor/jquery/jquery-3.2.1.min.js"></script>-->
<!--===============================================================================================-->
	<script src="../static/vendor/animsition/js/animsition.min.js"></script>
	<!--<script src="../vendor/animsition/js/animsition.min.js"></script>-->
<!--===============================================================================================-->
	<script src="../static/vendor/bootstrap/js/popper.js"></script>
	<script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--<script src="../vendor/bootstrap/js/popper.js"></script>-->
	<!--<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>-->
<!--===============================================================================================-->
	<script src="../static/vendor/select2/select2.min.js"></script>
	<!--<script src="../vendor/select2/select2.min.js"></script>-->
	<script>
		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});
	</script>
<!--===============================================================================================-->
	<script src="../static/vendor/daterangepicker/moment.min.js"></script>
	<script src="../static/vendor/daterangepicker/daterangepicker.js"></script>
	<!--<script src="../vendor/daterangepicker/moment.min.js"></script>-->
	<!--<script src="../vendor/daterangepicker/daterangepicker.js"></script>-->
<!--===============================================================================================-->
	<script src="../static/vendor/countdowntime/countdowntime.js"></script>
	<!--<script src="../vendor/countdowntime/countdowntime.js"></script>-->
<!--===============================================================================================-->
	<script src="../static/js/main.js"></script>
	<!--<script src="../js/main.js"></script>-->

	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>

</body>
</html>
