{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block body %}
  <h1 class="text-center">Welcome!</h1>
  <div class="main-body">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <div class="jumbotron">
        Welcome to the COVID-19 Risk Factor Predictor.
        It shows you how relatively at-risk you may be based on currently identified risk factors.
        <center><a href="/form" class="btn btn-info" role="button">Get Started!</a></center>
      </div>
    </div>
  </div>
  </div>
{% endblock %}
